name: Trigger auto deployment for hello-world

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
  # Allow manual trigger 
  workflow_dispatch:
permissions:
  id-token: write
  contents: read 
env: 
  appName: '235611'  
  secretNameRegistryUser : 'acr-username-shared-key'
  secretNameRegistryPassword : 'acr-password-shared-key'

jobs:
  create-infra:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2
      - name: Filter paths
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            src:
              - 'src/**'
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CLIENT_ID }}
          tenant-id: ${{ secrets.TENANT_ID }}
          subscription-id: ${{ secrets.SUBSCRIPTION_ID }}
      - name: deploy infra
        uses: azure/arm-deploy@v1
        with:
          subscriptionId: ${{ secrets.SUBSCRIPTION_ID }}
          resourceGroupName: ashu-rg
          template: ./deploy/main.bicep
          parameters: dbUsername=${{ secrets.SQL_USERNAME }} dbPassword=${{ secrets.SQL_PASSWORD }} appName=${{ env.appName }} secretNameRegistryUser=${{ env.secretNameRegistryUser }} secretNameRegistryPassword=${{ env.secretNameRegistryPassword }}
          failOnStdErr: false

  build-and-push-image:
    runs-on: ubuntu-latest
    needs: create-infra
    steps:
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CLIENT_ID }}
          tenant-id: ${{ secrets.TENANT_ID }}
          subscription-id: ${{ secrets.SUBSCRIPTION_ID }}
      - name: Get KeyVault secrets
        uses: Azure/get-keyvault-secrets@v1
        with:
          keyvault: 'kv${{ env.appName }}'
          secrets: '$secretNameRegistryUser, $secretNameRegistryPassword, registry-login-server'
        id: getSecretAction
      - name: 'Login to ACR'
        uses: azure/docker-login@v1
        with:
          login-server: ${{ steps.getSecretAction.outputs.registry-login-server }}
          username: ${{ steps.getSecretAction.outputs.acr-username-shared-key }}
          password: ${{ steps.getSecretAction.outputs.acr-password-shared-key }}
      - name: Build and push image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.getSecretAction.outputs.registry-login-server }}/epicapp:${{ github.sha }}
  
  deploy-app:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - name: deploy container app
        uses: azure/arm-deploy@v1
        with:
          subscriptionId: ${{ secrets.SUBSCRIPTION_ID }}
          resourceGroupName: ashu-rg
          template: ./deploy/deploy.bicep
          parameters: imageTag=${{ github.sha }}
          failOnStdErr: false
            

     

