name: Publish Open Api Spec to API Catalog
on:
  push:
    paths:
      - 'openapi/**'

  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to publish the API to'
        required: true
        type: choice
        options:
          - dev
          - qa
          - ppe
          - prod
        default: 'dev'
env:
  GITHUB_RAW_URL: "https://raw.githubusercontent.com/${{ github.repository }}/${{ github.ref }}/openapi/apiSpec.yaml"
  ARCHITECTURE_AREA: "${{ vars.ARCHITECTURE_AREA  }}"
  ONBOARDING_URL: "${{ vars.ONBOARDING_URL || '' }}"
  API_TYPE: "${{ vars.API_TYPE || 'rest' }}"
  CATALOG_TYPE: "${{ vars.CATALOG_TYPE || 'business' }}"
  ENVIRONMENT: "dev"
  
jobs:
  prepare-parameter-job:
    name: Get Environment Name
    runs-on: ubuntu-latest
    steps:
      - name: Setup Environment Name
        id: env-name
        run: |
          echo "github.ref_name = ${{ github.ref_name }}"
          if [[ "${{ github.ref }}" == refs/heads/feature* ]]; then
            echo "::set-env name=ENVIRONMENT::qa"
            echo "::set-output name=ENVIRONMENT::dev"
          else
            echo "::set-env name=ENVIRONMENT::${{ fromJSON('{ "develop":"qa", "main":"prod"}')[github.ref_name] }}"
          fi
          if [ -z "$env" ]; then
            echo "::set-env name=ENVIRONMENT::dev }}"
          fi
      - name: Set Environment Name
        if: github.event_name == 'workflow_dispatch'
        run: |
          echo "::set-env name=ENVIRONMENT::${{ github.event.inputs.env }}"
      - name: Print Environment Name
        run: |
            echo "Environment to publish is :${{ steps.env-name.outputs.env }}"
            echo "Environment evaluated is : "${{ env.ENVIRONMENT }}","
  publish-oas-job:
    name: "Publish Api"
    runs-on: ubuntu-latest
    needs: [ prepare-parameter-job ]
    steps:
      - name: Get Oauth Token Step
        id: get-oauth-token
        uses: fjogeleit/http-request-action@v1
        with:
          url: "${{ secrets.AUTH_URL }}"
          method: POST
          maskResponse: true
          customHeaders: '{"Content-Type": "application/x-www-form-urlencoded"}'
          data: '{ "grant_type": "client_credentials",
                    "scope":"${{ secrets.SCOPE }}",
                    "client_id":"${{ secrets.CLIENT_ID }}",
                    "client_secret":"${{ secrets.CLIENT_SECRET }}" 
                  }'
      - name: Extract and Mask Token Step
        id: extract-token-var
        run: |
          AUTH_TOKEN=${{ fromJson(steps.get-oauth-token.outputs.response).access_token }}
          echo "::add-mask::$AUTH_TOKEN" 
          echo "AUTH_TOKEN=$AUTH_TOKEN" >> "$GITHUB_OUTPUT"
      - name: Publish OAS to API Catalog Step
        id: publish-oas
        uses: fjogeleit/http-request-action@v1
        with:
          url: "${{ vars.API_URL }}"
          method: POST
          customHeaders: '{"Content-Type": "application/json", "Authorization": "${{steps.extract-token-var.outputs.AUTH_TOKEN}}" }'
          data: '{
                    "githubRawUrl": "${{ env.GITHUB_RAW_URL }}",
                    "env": "${{ env.ENVIRONMENT }}",
                    "architectureArea": "${{ env.ARCHITECTURE_AREA }}",
                    "isPrivate": "false",
                    "catalogType": "${{ env.CATALOG_TYPE }}",
                    "apiType": "${{ env.API_TYPE }}",
                    "onboardingUrl": "${{ env.ONBOARDING_URL }}"
                  }'
             